* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Founders Grotesk";
    src: local("Founders Grotesk"),
    url("./fonts/FoundersGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Founders Light";
    src: local("Founders Light"),
    url("./fonts/FoundersGrotesk-Light.otf") format("opentype");
}

@font-face {
    font-family: "Tiempos Headline";
    src: local("Tiempos Headline"),
    url("./fonts/TiemposHeadline-Light.otf") format("opentype");
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Founders Light";
    line-height: 1.3;
}

div {
    display: block;
}

header {
    display: block;
    background-image: url(https://oishii.com/cdn/shop/files/2023.02_JFONG_Oishii_Koyo_Berry_High_Res_002_2160x.jpg?v=1677255226);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #ababab;
    height: 535px;
}

.pinnedNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #fff;
    z-index: 1;
}

.navLists {
    display: flex;
    color: #fff;
    padding-left: 50px;
    margin-top: 5px;
}

.dropdown {
    display: flex;
    float: left;
    height: 100%;
    margin-right: 30px;
    color: #fff;
}

.dropdown a {
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
}

.dropdownContent {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: left;
    width: 100px;
    background-color: white;
    list-style-type: none;
    margin-top: 25px;
    padding: 0 30px 15px 30px;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent:hover {
    display: block;
}

.dropdownContent a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.dropdownContent li {
    margin-top: 15px;
 }

.mainLogo {
    display: flex;
}

.mainLogo img {
    width: 100px;
}

.navBarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    width: 165px;
    height: 30px;
    margin-right: 50px;
    border: 1px solid #fff;
    border-radius: 20px;
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navBarButton:hover {
    background-color: #fff;
    color: #000;
}

.introText {
    width: 375px;
    height: 200px;
    padding-top: 100px;
    margin-left: 50px;
    color: #fff;
}

.introText h2 {
    font-weight: lighter;
    font-family: "Tiempos Headline", serif;
    font-size: 38px;
}

.introText p {
    font-weight: 550;
    font-family: "Founders Grotesk", serif;
    font-size: 15px;
    margin: 5px 0 20px;
}

.introText a {
    display: block;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: max-content;
    padding-bottom: 4px;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 100;
    font-family: "Founders Grotesk", serif;
}

.newspapers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.newspapers li {
    display: flex;
    width: max-content;
    float: left;
    text-decoration: none;
    text-align: center;
    margin-right: 80px;
}

.newspapers img {
    height: 26px;
}

.berries {
    display: flex;
    justify-content: center;
    margin: 0 50px;
}

.berry {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #ababab;
    height: 800px;
    width: 50%;
    color: #fff;
}

#koyoBerry {
    background-image: url(https://cdn.shopify.com/s/files/1/0263/4688/1082/files/2023.02_JFONG_Oishii_Koyo_Berry_004_16x9_a762e9b6-6c17-4af3-aa8c-274a74886820_2160x.jpg?v=1676917069);
}

#omakaseBerry {
    background-image: url(https://cdn.shopify.com/s/files/1/0263/4688/1082/files/Image_2_1_2160x.jpg?v=1655850396);
}

.BerryText {
    width: 360px;
    height: 740px;
    margin: auto;
    padding-top: 60px;
    text-align: center;
}

.BerryText h3 {
    font-weight: lighter;
    font-family: "Tiempos Headline", serif;
    font-size: 32px;
}

.BerryText p {
    font-weight: 550;
    font-family: "Founders Grotesk", serif;
    font-size: 15px;
    margin-top: 5px;
}

.BerryText a {
    display: block;
    margin: 575px auto auto;
    padding-bottom: 4px;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: max-content;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
}

.berriesAdj {
    display: flex;
    align-items: center;
    margin: 60px 50px;
}

.adjectivesImage {
    display: flex;
    object-fit: cover;
    height: 900px;
    width: 50%;
    margin-left: auto;
}

.adjectives {
    padding-left: 50px;
}

.adjectives h4 {
    font-weight: 100;
    font-family: "Tiempos Headline", serif;
    font-size: 34px;
    margin-bottom: 40px;
}

.adjectives li {
    list-style-type: none;
    line-height: 1.2;
    font-weight: 100;
    font-family: "Tiempos Headline", serif;
    font-size: 24px;
}

.adjectives a {
    display: block;
    width: max-content;
    margin-top: 20px;
    padding-bottom: 4px;
    color: #000;
    border-bottom: 1px solid #da2924;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
}

.wholeFoods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    background-image: url(https://cdn.shopify.com/s/files/1/0263/4688/1082/files/210920-OISHI-9614_3_3_640x.jpg?v=1655850320);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.partnerLogos {
    align-items: center;
    text-align: center;
    width: 33%;
}

.partnerLogos img {
    width: 100px;
}

.partnerLogos p {
    margin: 20px 0;
}

.partnershipPic {
    height: 700px;
    margin-top: 50px;
    margin-bottom: 60px;
}

.partnershipText {
    display: block;
    text-align: center;
    align-items: center;
    width: 33%;
    color: #fff;
}

.partnershipText h4 {
    display: block;
    text-align: center;
    margin: auto;
    width: 60%;
    font-weight: 100;
    font-family: "Tiempos Headline", serif;
    font-size: 32px;
}

.partnershipText p {
    display: block;
    margin: auto auto 20px;
    text-align: center;
    width: 60%;
    font-weight: 550;
    font-size: 15px;
}

.partnershipText a {
    display: block;
    width: max-content;
    margin: auto;
    padding-bottom: 4px;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
}

.rootedInInnovation {
    display: block;
    background-image: url(https://cdn.shopify.com/s/files/1/0263/4688/1082/files/Image_with_Text_Module_w__Background_60d55432-916a-4fd8-8c86-a9d8cd583fd6_640x.jpg?v=1655850424);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #ababab;
    margin: 60px 50px;
    text-align: center;
    height: 800px;
    color: #fff;
}

.rootedHeader {
    display: flex;
    align-items: center;
    width: 380px;
    height: 100px;
    margin: auto auto 20px;
    padding-top: 40px;
}

.rootedHeader h4 {
    display: inline-block;
    margin: auto;
    width: 150px;
    font-weight: 100;
    font-family: "Tiempos Headline", serif;
    font-size: 32px;
}

.rootedHeader img {
    display: inline-block;
    width: 40px;
}

.rootedInInnovation a {
    display: block;
    width: max-content;
    padding-bottom: 4px;
    margin: auto;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 100;
}

.jimmyKimmel {
    display: flex;
    justify-content: space-between;
    background-color: #d5e1d6;
    padding: 50px;
}

.jimmyKimmelText {
    display: block;
    width: 650px;
    font-weight: 100;
}

.jimmyKimmelText h4 {
    margin-bottom: 20px;
    font-weight: 100;
    font-family: "Tiempos Headline", serif;
    font-size: 38px;
}

.jimmyKimmelVid {
    display: block;
    width: max-content;
}

.jimmyKimmelVid video {
    height: 650px;
    width: 440px;
}

.notInYourArea {
    display: flex;
    position: relative;
    height: 405px;
}

.leftHand {
    display: flex;
    position: absolute;
    left: 0;
}

.rightHand {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}

.hand {
    width: 350px;
}

.signUpContent {
    display: flex;
    text-align: center;
    margin: 50px;
    height: 305px;
    width: 100%;
    background-color: #F3F0E7;
}

.logo {
    display: block;
    margin: auto auto 20px;
    height: 55px;
}

.announcement {
    display: block;
    margin: auto;
    width: max-content;
}

.announcement h4 {
    line-height: 1.6;
    font-weight: 100;
    font-family: "Tiempos Headline", serif;
    font-size: 24px;
}

.announcement p {
    margin-bottom: 20px;
}

.signUp {
    width: max-content;
    padding-bottom: 4px;
    color: #000;
    border-bottom: 1px solid #da2924;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
}

.instagram {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
}

.instagramPicture {
    display: flex;
    width: 16.66%;
    height: 100%;
}

.instagramLink {
    width: 100%;
    height: 100%;
}

.post {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: brightness 0.3s ease;
}

.post:hover {
    filter: brightness(0.7);
}

.footer {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 60px 50px;
    background-color: #da2924;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.footer img {
    display: inline-block;
    margin-right: 60px;
    width: auto;
    height: 200px;
}

.footerList {
    display: inline-block;
    margin-left: 120px;
    text-decoration: none;
    list-style-type: none;
    line-height: 2;
    font-weight: 100;
}

.footer h5 {
    font-size: 20px;
    font-weight: 600;
}

.footer a, .lowerFooter a {
    color: #fff;
    text-decoration: none;
}

.form {
    display: inline-block;
    margin: 8px 0 0 80px;
    width: 600px;
}

.form > * {
    margin-bottom: 20px;
}

.longText {
    font-size: 12px;
    font-weight: 100;
}

.longText a {
    text-decoration: underline;
}

.submit {
    background-color: transparent;
    width: max-content;
    padding-bottom: 4px;
    margin: 0;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: lighter;
    cursor: pointer;
}

.input {
    height: 40px;
    width: 240px;
    margin-right: 10px;
    padding-left: 15px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}

.lowerFooter {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 15px;
    padding: 30px 50px;
    background-color: #da2924;
    color: #fff;
}

.lowerFooter li {
    display: flex;
    float: left;
    margin-right: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 14px;
}
